#holder{
    width: 100%;
  overflow: hidden;
  position: absolute;
  top:0px;
  height: 36rem;
  left: 0px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#login{
    float: right;
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
    font-weight: 300;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.8rem !important;

    font-family: Okra,Helvetica,sans-serif;

}
#logo{
    height: 55px;
    display: block;
    margin:auto;
}

#input::placeholder{
    font-size: small;
    position: relative;;    
    bottom: 5px;
}

#input{
    
    width: 620px;
   
    font-size: 2rem;
    border: none;
     border-color: transparent;    
    padding-left: 1.5rem;
    outline: none;
    border-radius: 0.8rem;
}
.ofo_text{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    
    color: rgb(54, 54, 54);
    font-family: sans-serif;
}
.grad{
    
    background-image: linear-gradient(rgb(0,0,0,0) 50%,rgb(0,0,0) 99%);
    position: absolute;
    height: 300px;
    bottom: 0px;
    border-radius: 15px;
    width: 310px;
}
.col_text{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    bottom: 10px;
    margin-left: 80px;
    color:white;
   
    
    font-family: sans-serif;
}
.ofo_img {

    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
   

}
.col_img{
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
   
}
.ofo{
    overflow: hidden;
    width: 100%;
    height: 200px;
    
}
.col{
    overflow: hidden;
    width: 310px;
    height: 300px;
}
.ofo_wrap{
    
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 300px;
    height: 240px;
    
}

.col_wrap{
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: 310px;
    height: 300px;
}

.h1{
   
    font-weight: bold;
    font-size: 2rem;
    
    color: rgb(54, 54, 54);
    font-family: sans-serif;
}
.p{
   
    
    font-size: 1.3rem;
    
    color: rgb(54, 54, 54);
    font-family: sans-serif;
}

#services{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 3rem;
}
#collections{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 5rem;

}
#dropdown{
    background-color:transparent;
    border-radius: 0.8rem;
    border: none;
    outline: none;

}
.searchBox{
    display: flex;
    width: auto;
    
     
    height: 40px; 
   background-color: white;
   border-radius: 0.8rem;
    flex-direction: row;
    
}
#sub{
    margin-top: 3rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    font-family: Okra,Helvetica,sans-serif;
}

#logoHolder{
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

#signup{
    font-family: Okra,Helvetica,sans-serif;
    float: right;
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    text-align: right;
    vertical-align: middle;
    font-weight: 300;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.6rem;
    padding: 0.8rem !important;
}
